sudo: false
language: python
dist: bionic
python:
  - "2.7"
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"
install:
  - pip install ".[test]" . # install package + test dependencies
script: pytest tests/test.py
